.container {
  display: grid;
  grid-template-columns: 4fr 3fr;
  padding: 10px 84px;
  align-items: center;
  color: #5c2d91;
}

.main {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  width: 144px;
  display: flex;
  align-items: center;
}

.menuItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  i {
    font-size: 16px;
  }
}

.menuItemTitle {
  font-weight: 700;
}

.searchIcon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
