.container {
  background-color: white;
  padding: 10px;
  display: grid;
  gap: inherit;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  text-align: center;

  div {
    font-weight: bold;
  }
}

.row {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.position {
  color: #5c2d91;
}

.team {
  font-weight: 900;
  text-align: right;
  display: flex;
  align-items: center;
  gap: 6px;
}

.team img {
  width: 20px;
}

.matches,
.score {
  font-weight: 300;
}

.points {
  font-weight: 700;
}
