.container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  justify-content: center;
  padding: 24px 84px;
  gap: 20px;
  background: #ffffff;
}

.newsContainer {
  box-shadow: rgba(145, 158, 171, 0.16) 0px 12px 24px -4px;
}

.sectionContainer {
  box-shadow: rgba(145, 158, 171, 0.16) 0px 12px 24px -4px;
}
