.container {
  display: grid;
  gap: 12px;
  padding: 16px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(141, 141, 141, 0.2);
  overflow: hidden;
}

.content {
  display: flex;
  gap: 16px;
}

.image {
  height: 126px;
}

.text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  font-size: 24px;
  font-weight: 900;
}

.title {
}

.description {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  font-size: 16px;
  font-weight: 300;
}

.input {
  padding: 8px 16px;
  width: -webkit-fill-available;
  border: none;
  background-color: #f5f5f5;
  border-radius: 50px;
  font-family: Bein-Bold;
  font-weight: 900;
}

.button {
  padding: 8px 16px;
  width: -webkit-fill-available;
  border: none;
  background-color: rgb(92, 45, 145);
  color: white;
  border-radius: 50px;
  font-family: Bein-Bold;
  font-weight: 900;
}
