.container {
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(141, 141, 141, 0.2);
}

.news {
  // padding: 12px 12px 24px 12px;
  // background-color: white;
  // width: 800px;
}
