.container {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding: 14px 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  max-height: 64px;
  background-color: white;
}

.title_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: 18px;
  font-weight: 900;
}
