@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css");

@import "react-alice-carousel/lib/alice-carousel.css";

@font-face {
  font-family: Bein-Bold;
  src: url("./assets/beINNEWArabicfont2017-Bold.woff2") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: Bein-Bold;
  src: url("./assets/beINNEWArabicfont2017-DemiBold.woff2") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Bein-Bold;
  src: url("./assets/beINNEWArabicfont2017-Regular.woff2") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Bein-Bold;
  src: url("./assets/beINNEWArabicfont2017-Light.woff2") format("truetype");
  font-weight: 300;
}

body {
  direction: rtl;
  margin: 0;
  font-family: Bein-Bold;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  background-color: #fafafa;
}

i {
  display: flex;
  align-items: center;
}
