.container {
  border-radius: 12px;
  background-color: white;
  // box-shadow: 0px 0px 20px rgba(141, 141, 141, 0.2);
  overflow: hidden;
}

.gamesContainer {
  display: flex;
  // grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  padding: 0px 16px 16px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  gap: 10px;
  background-color: #eeeeee;
}

.gameTeam {
  display: grid;
  img {
    width: 20px;
  }
}

.gameScore {
  font-size: 16px;
}

.teamLogo {
}
